.menu {
    list-style: none;
}

.menu .menuitem {
    display: inline;
    font-size: 1.3em;
    background-color: cornsilk;
    margin-right: 3px;
    margin-left: 3px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: black 2px solid;
/*    opacity: 0.5;
 transition-property: background-color border-bottom opacity;
    transition-duration: 1000ms;
    transition-timing-function: linear; */
}

.menuitem:hover{
    background-color: antiquewhite;
    border-bottom: medium;
    opacity: 1.0;
}