.hello {
    background: red;
    width: 1200px;
    height: 800px;
    border-radius: 25px;
    border-style: solid;
    margin-left: 30px;
    text-align: center;
}

.hello-header{
    color:white;
    font-family: "Arial";

}

.hello-header h1 {
    text-transform: uppercase;
    font-size: 10em;
    letter-spacing: .3em;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.hello-header p {
    text-transform: lowercase;
    font-size: 5em;
    margin-bottom: 0px;
    margin-top: 0px;
}

.hello-body{
    background: white;
    width: 1200px;
    height: 300px;
    position:absolute;
    top: 450px;
    text-transform: capitalize;
    font-family: "Bradley Hand ITC";
    font-size: 15em;
}